python-dotenv

# confluence
atlassian-python-api
python-telegram-bot

beautifulsoup4
ray[all]
torch
pandas

# nlp
docstring_parser
sentencepiece
underthesea

# llm
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-google-genai
langsmith
langgraph
transformers
sentence-transformers

openai
aisuite

# evaluator
ragas
sacrebleu
rouge_score

# Inmemory Vector DB
faiss-cpu

# PostgreSQL Vector DB
asyncpg
pgvector
psycopg[binary,pool]
psycopg2-binary
sqlalchemy[asyncio]
