python-dotenv
# confluence
atlassian-python-api
beautifulsoup4

ray[all]
torch
transformers
langchain
langchain-community
langchain-huggingface
sentence-transformers
sentencepiece
underthesea
pandas

openai
aisuite

# Inmemory Vector DB
faiss-cpu

# PostgreSQL Vector DB
asyncpg
pgvector
psycopg[binary,pool]
psycopg2-binary
sqlalchemy[asyncio]
